.footerContent{
    padding: 1.5%;
    background-color: rgb(250, 214, 225);
    .firstFooter{
    }
    .secondFooter{
        text-decoration: none;
        ul li{
            list-style: none;
            padding: 1.5%;
            font-weight: 450;
            a{
            color: black;
            }
        }
    }
    .thirdFooter{
        a{
            color:black;
            font-weight: 450;
        }
    }
}